/* Styles for project 6 */

*, *:before, *after {
    box-sizing:border-box;
}

body {
    letter-spacing: .5px;
    line-height: 1.5;
    font-family: century gothic, sans-serif;
    font-style: normal;
    margin: 0;
}

.logo {
    padding: 10px;
    background-color: #5c230D;
}

.logo img {
    background-image: url(cafelogo2.png);
    background-size: contain;
    width:25%;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    width:28%;
    position:relative;
    left:40px;
    top: 23px;
    padding-right: .25rem;
    font-weight:400;
}
.column p{
    text-align: center;
}

.column a:link{
    color:#5c320D;
    text-decoration: none;
}

.column a:visited{
    color:#5c320D;
}
.column a:hover{
    color:olive;
}

nav {
    background-color:#FFE7CF;
    position:absolute;
    top:188px;
    padding-right:13px;
}

nav img{
    position:relative;
    bottom: 8px;
    right: 2px;
}
nav li{
    font-weight: 400;
}

nav a:link {
    color: #5c320D;
    text-decoration: none;
}

nav a:visited {
    color: #5c320D;   
}

nav a:hover {
    color: olive;
}

h1 {
    background-color: #5c320D;
    padding: 30px;
    margin:0;
    color: #ffffff;
    font-size: 45;
    position:relative;
}

h2 {
    color: #5c320D;
    font-weight: 600;
    padding-left:25px;
    margin-bottom: 0;
}

h3 {
    color: #5c320D;
    font-weight:600;
    padding-left:25px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.prices{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    position:relative;
}

.columns {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.drinks:after {
  content: "";
  display: table;
  clear: both;
}

.food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.food li{
    font-weight: 600;
}

.column2 {
    width: 50%;
    font-weight:400;
    position: relative;
}

.sweets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sweets li {
    font-weight: 400;
}

h4 {
    color: #ffffff;
    position:relative;
    left:25px;
}

footer {
    background-color: #5c320D;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}

footer li{
    color: #ffffff;
    font-weight: 400;
}

footer img{
    position:relative;
    left: 38px;
    padding-right: .5rem;
    height: 40px;
    width: 40px;
}

.info {
    float: left;
}

/* Clear floats after the columns */
.about:after {
    content: "";
    display: table;
    clear: both;
}

li {
    color: #5c320D;
    margin-bottom: .5rem;
    font-weight: 600;
}

ul {
    list-style: none;
}

p {
    color: #5c320D;
    margin-top: 0;
    margin-bottom: 1.75rem;
    padding-right:25px;
}

img {
    max-width: 100%;
}

@media screen and (min-width:1025px) {
    .logo {
        padding: 10px;
        background-color: #5c230D;
    }
    
    .logo img {
        background-image: url(cafelogo2.png);
        background-size: contain;
        width:10%;
    }
    
    picture img{
        padding-left: 442px;
        width: 65%;
    }

    .column {
        width:30%;
        position:relative;
        left:64px;
        top: 23px;
        padding-right: .25rem;
        font-weight:400;
    }
    
    nav {
        background-color:#ffffff;
        position: absolute;
        top: 200px;
        padding-right:13px;
        padding-left: 25px;
    }
    
    h2 {
        padding-left: 63px;
    }
    
    .drinks {
        padding-left: 40px;
    }
    
    .food {
        padding-left: 40px;
    }
    
    .sweets {
        padding-left: 40px;
    }
    
    footer ul {
        padding-left: 25px;
    }
    
    footer img {
        position: relative;
        left: 23px;
    }
    
    .about{
        padding-left: 40px;
    }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .columns {
        width: 100%;
    }
    
    .info{
        width:100%;
    }
}
